<div class="wholeapp" *ngIf="fireService.auth.currentUser">
  <div class="content" #scrollContainer>
    <div class="contentCard" *ngFor="let n of fireService.messages">
      <div class="ccLeft">
        <div>
          <img class="avatarChat" style="max-height: 50px" [src]="n.avatarURL">
        </div>
        <div class="ccMiddle">
          <div class="userName+Time">
            <p class="usernametext">{{n.data.username}}</p>
            <p class="time">{{n.data.timestamp.toDate() | date: 'medium'}}</p>
          </div>
          <div class="userMessageCard">
            <p class="userMessageText">{{n.data.messageContent}}</p>
          </div>
        </div>
      </div>
      <div class="ccRight">
        <button *ngIf="n.data.userId === fireService.auth.currentUser.uid" 
                mat-icon-button class="deleteMessage"
                (click)="deleteMessage(n.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="bottomBar">
    <div class="sendInput">
      <input matInput class="sendInputInside" [(ngModel)]="sendThisMessage" (keydown.enter)="sendMessage()">
    </div>
    <button class="sendBtn" mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
