<div class="loginForm">
  <div class="login-container">
    <h1 class="loginHeader">Verify your Email</h1>
    <p class="login-subheader">We've sent a verification email to:<br>{{email}}</p>
    
    <p class="verification-text">Please check your email and click the verification link to activate your account.</p>
    <p class="verification-text">You need to have activated your account before you can log in.</p>
    
    <button class="signInBtn" mat-raised-button (click)="goToLogin()">Back to Login</button>
  </div>
</div> 