<div class="loginForm" *ngIf="fireService.auth.currentUser==null">
  <div *ngIf="fireService.auth.currentUser==null">
    <h1 class="loginHeader">Login to your account</h1>
    <input class="email" placeholder="email" [(ngModel)]="email" type="email">
    <br>
    <input class="password" placeholder="password" [(ngModel)]="password" type="password">
    <br>
    <button class="signInBtn" mat-raised-button (click)="fireService.signIn(email, password)">Sign in</button>
    <button class="registerBtn" mat-raised-button (click)="fireService.register(email, password)">Register</button>
  </div>
</div>

<div *ngIf="fireService.auth.currentUser" onload="toBottom()">
  <div class="topBar">
    <img class="avatar" (click)="fileInput.click()" style="max-height: 60px"
         [src]="fireService.currentlySignedInUserAvatarURL">
    <button mat-icon-button class="logout" (click)="fireService.signOut()">
      <mat-icon>logout</mat-icon>
    </button>
    <input (change)="fireService.updateUserImage($event)" hidden #fileInput type="file">
    <h1 class="hello">"{{fireService.auth.currentUser.email}}"</h1>
  </div>
  <div class="content">
  <mat-card class="contentCard" *ngFor="let n of fireService.messages">
    <img class="avatarChat" style="max-height: 50px"
         [src]="n.data.avatarURL">
    <mat-card-content class="userName+Time"><b>{{n.data.user}}</b>&nbsp;-&nbsp;<p
      class="time">{{n.data.timestamp.toDate()}}</p>
      <button mat-icon-button class="deleteMessage" (click)="deleteMessage(n.id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-card-content>
    <mat-card-content class="userMessageCard"><p class="userMessageText">{{n.data.messageContent}}</p>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="bottomBar">
  <p>
    <input matInput class="sendInput" [(ngModel)]="sendThisMessage">
    <button class="sendBtn" mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </p>
  </div>
</div>
