<div class="topBar">
  <div class="avatarAndUsername" *ngIf="fireService.auth.currentUser">
    <div class="avatar" (click)="fileInput.click()">
      <img class="avatarImg" [src]="fireService.currentlySignedInUserAvatarURL">
    </div>
    <div class="username-container">
      <div *ngIf="!isEditingUsername" class="username-display">
        <h1 class="username">{{username}}</h1>
        <button mat-icon-button class="edit-button" (click)="startEditingUsername()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div *ngIf="isEditingUsername" class="username-edit">
        <input class="username-input" [(ngModel)]="editUsername" [value]="username">
        <button mat-icon-button class="save-button" (click)="saveUsername()">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="navigationLinks" *ngIf="fireService.auth.currentUser">
    <!-- Navigation buttons -->
    <button class="buttonLinks" mat-button routerLink="/messageApp"><mat-icon>message</mat-icon></button>
    <button class="buttonLinks" mat-button routerLink="/pucs"><mat-icon>sentiment_very_satisfied</mat-icon></button>
  </div>
  <button mat-icon-button class="logout" (click)="fireService.signOut()" *ngIf="fireService.auth.currentUser">
    <mat-icon>logout</mat-icon>
  </button>
  <input (change)="fireService.updateUserImage($event)" hidden #fileInput type="file">
</div>
<router-outlet></router-outlet>
